<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commom_header(title, link, script)">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">레이아웃 타이틀</title>

    <th:block th:replace="${link}" />

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">



    <th:block th:replace="${script}"/>
</head>


</html>